html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My Portfolio
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
        
    body
        section#menu
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Portfolio</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </div>
        .swiper-container1#swiper-container1
            .swiper-wrapper
                .swiper-slide
                    // Section main
                    section#section-1.section.section-1
                        .container-custom
                            <div class="video-background">
                                <div class="video-foreground">
                                    <iframe src="https://www.youtube.com/embed/xFgaO4D-yVM?start=4&autoplay=1&controls=0&showinfo=0&rel=0&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            h1.section-1_main-text vanzer
                            nav.upper-nav
                                img.section-1_logo(src='img/logo-main.png' alt='Logo')
                                <span style="font-size:30px;cursor:pointer" onclick="openNav()">
                                    i.hamburger-menu.fa.fa-bars
                                </span>
                            //ul.left-nav
                                li
                                    h1.left-nav_counter.left-nav_text-white 01
                                li
                                    .left-nav_dots.left-nav_dots-active-white
                                    p.left-nav_title.left-nav_text-white home
                                li
                                    .left-nav_line.left-nav_line-white
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                            .section-1_content
                                h1.section-1_main-title Vlad Manyak 
                                h6.section-1_description FRONT-END / WEB-DEVELOPER
                                hr.section-1_hr
                                .u-cf
                                .read-more_container
                                    a(href="#")
                                        h6.read-more_text read more
                                            i.read-more_arrow.fas.fa-long-arrow-alt-right
                            ul.right-nav
                                li
                                    a.fab.fa-facebook-f(href="https://www.facebook.com/vladmanyak?ref=bookmarks")(target="_blank")
                                li
                                    a.fab.fa-linkedin-in(href="https://www.linkedin.com/in/vlad-manyak-77079318a/")(target="_blank")
                                li
                                    a.fab.fa-github(href="https://github.com/vladm17")(target="_blank")
                                li
                                    a.fab.fa-instagram(href="https://www.instagram.com/kimster_1711/")(target="_blank")
                            .scroll-down_container
                                .scroll-down_inner-container
                                    .scroll-down_line
                                    h6.scroll-down_text scroll down
                .swiper-slide
                    // Section About
                    section#section-2.section.section-2
                        h1.section-2_about-text about
                        h1.section-2_a-text a
                        //ul.left-nav
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                            li
                                h1.left-nav_counter.left-nav_text-black 02
                            li
                                .left-nav_dots.left-nav_dots-active-black
                                p.left-nav_title.left-nav_text-black about us
                            li
                                .left-nav_line.left-nav_line-black
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                        .section-2_content.container
                            .section-2_container
                                h2.section-2_main-title
                                    | Let me  
                                    span introduce myself
                                img.section-2_photo(src='img/studio-main.png' alt='Photo')
                            .section-2_description-container
                                <div class="progress-bar">
                                    <span class="progress-value" style="width: 60%;"></span>
                                </div>
                                    <span>JS</span>
                                    <br/>
                                <div class="progress-bar">
                                    <span class="progress-value yellow" style="width: 90%;"></span>
                                </div>
                                    <span>CSS</span>
                                    <br/>
                                <div class="progress-bar">
                                    <span class="progress-value green" style="width: 85%;"></span>
                                </div>
                                    <span>HTML</span>
                                    <br/>
                                hr.section-2_hr
                                h6.section-2_description-text
                                    | I`m begginer HTML\CSS developer. I`m looking for new opportunities and knowledges. Also i`m looking for interesting job and interesting projects. I`m ready for complicated tasks and challenges! 
                .swiper-slide
                    // Section Services
                    section#section-3.section.section-3
                        .section-3_content
                            h1.section-3_services-text services
                            //ul.left-nav
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    h1.left-nav_counter.left-nav_text-white 03
                                li
                                    .left-nav_dots.left-nav_dots-active-white
                                    p.left-nav_title.left-nav_text-white services
                                li
                                    .left-nav_line.left-nav_line-white
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                            .section-3_container.container
                                .section-3_column1
                                    h1.section-3_main-title services
                                    hr.section-3_hr
                                    ul.section-3_nav
                                        li(data-description='1') PSD to HTML/CSS
                                        li(data-description='2') Responsive Design
                                        li(data-description='3') Javascript 
                            .section-3_column2
                                .section-3_description-container
                                    .section-3_description-1.section-3_description
                                        h4.section-3_description-before-1.section-3_description-title PSD to HTML/CSS
                                        p.section-3_description-text
                                            | Unique web content and customized designs are the keys to achieving success in any online business. I can design the manual codes that are W3C validated. This leads to the production of pixel-perfect designs, which appropriately suit your specific need. 
                                    .section-3_description-2.section-3_description
                                        h4.section-3_description-before-2.section-3_description-title Responsive Design
                                        p.section-3_description-text
                                            | My layouts will work on any device, big or small.That means no matter the user is using tablet, iPhone, desktop or laptop of any screen size or any resolution, the graphics, architecture and layout will be displayed perfectly according to the screen size. 
                                    .section-3_description-3.section-3_description
                                        h4.section-3_description-before-3.section-3_description-title Javascript
                                        p.section-3_description-text
                                            | Implementation of JavaScript logic (sliders, popups, animations, AJAX, etc.). JavaScript adds behavior to the web page where the web page is capable of responding to actions by your visitors without needing to load a new web page in order to process their request.
                .swiper-slide
                    // Section Portfolio
                    section#section-4.section.section-4
                        .section-4_content
                            h1.section-4_p-text p
                            h1.section-4_design-text design
                            //ul.left-nav
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    h1.left-nav_counter.left-nav_text-white 04
                                li
                                    .left-nav_dots.left-nav_dots-active-white
                                    p.left-nav_title.left-nav_text-white portfolio
                                li
                                    .left-nav_line.left-nav_line-white
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                            .section-4_container.container
                                h1.section-4_main-title portfolio
                                hr.section-4_hr
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            .slide-img
                                                img(src="./img/cahee.jpg", alt="")
                                        </div>
                                        <div class="swiper-slide">
                                            .slide-img
                                                img(src="./img/monticello.jpg", alt="")              
                                        </div>
                                        <div class="swiper-slide">
                                            .slide-img
                                                img(src="./img/bhromaon.jpg", alt="")
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="swiper-button-prev swiper-button-white"></div>
                                <div class="swiper-button-next swiper-button-white"></div>
                .swiper-slide
                    //  Section Blog
                    section#section-5.section.section-5
                        h1.section-5_blog-text blog
                        //ul.left-nav
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                            li
                                h1.left-nav_counter.left-nav_text-black 05
                            li
                                .left-nav_dots.left-nav_dots-active-black
                                p.left-nav_title.left-nav_text-black blog
                            li
                                .left-nav_line.left-nav_line-black
                            li
                                .left-nav_dots.left-nav_dots-lightgrey
                        .section-5_container.container
                            .section-5_column1
                                h1.section-5_main-title recent blog
                                hr.section-5_hr
                                .section-5_img-container
                                    img.section-5_img(src='img/blog.png', alt='Photo')
                            .section-5_column2
                                article.section-5_main-news
                                    a(href="https://sidigital.co/blog/bringing-new-css-techniques-to-production")(target="_blank")
                                        h4.news-title Bringing new CSS techniques to production
                                    h6.news-tags Photography / Today / by Crophos
                                section.section-5_news-container
                                    article.news
                                        a(href="https://dev.to/selbekk/the-10-component-commandments-2a7f")(target="_blank")
                                            h4.news-title The 10 Component Commandments

                                        h6.news-tags Industrial Design / Yesterday / by John Doe
                                    hr.news-hr
                                    article.news
                                        a(href="https://css-tricks.com/tips-for-rolling-your-own-lazy-loading/")(target="_blank")
                                            h4.news-title Tips for rolling your own lazy loading
                                        h6.news-tags Photography / June, 18, 2016 / by Michael Doe
                .swiper-slide
                    // Section Contact 
                    section#section-6.section.section-6
                        .section-6_content
                            h1.section-6_blog-text contact
                            //ul.left-nav
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    .left-nav_dots.left-nav_dots-grey
                                li
                                    h1.left-nav_counter.left-nav_text-white 06
                                li
                                    .left-nav_dots.left-nav_dots-active-white
                                    p.left-nav_title.left-nav_text-white contact
                                li
                                    .left-nav_line.left-nav_line-white
                            .section-6_container.container
                                .section-6_column1
                                    h1.section-6_main-title contact
                                    hr.section-6_hr
                                    ul.section-6_nav
                                        li
                                            i.far.fa-envelope.section-6_icons
                                            article.section-6_nav-content
                                                h5.section-6_nav-content-title e-mail
                                                h6.section-6_nav-content-text
                                                    a(href="mailto:vladmanyak@gmail.com") vladmanyak@gmail.com
                                        li
                                            i.fas.fa-phone.section-6_icons
                                            article.section-6_nav-content
                                                h5.section-6_nav-content-title.phone phone
                                                h6.section-6_nav-content-text 
                                                    a(href="tel:0500632692") (050) 063 26 92
                                        li
                                            i.fas.fa-map-marker-alt.section-6_icons
                                            article.section-6_nav-content
                                                h5.section-6_nav-content-title.address address
                                                h6.section-6_nav-content-text
                                                    | Shopping center "Portal"
                                                    br
                                                    | Maly Morskaya street, 108, 
                                                    br
                                                    | Mykolayiv,
                                                    br
                                                    | Ukraine
                                    h6.section-6_copyright Copyright © 2019, All Right Reserved. 
                                .section-6_column2
                                    #map.map
                                    //<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10893.665710130826!2d31.9941861!3d46.9535076!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36cdf48bd418a07c!2z0JHRg9GA0Y_Qug!5e0!3m2!1suk!2sua!4v1562148106675!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>//
                                    form.form
                                        input.name(placeholder='Your Name', type='text')
                                        input.name(type='text', placeholder='You E-Mail')
                                        input.topic(type='text', placeholder='Your Topic')
                                        textarea.message(placeholder='Message', cols='30', rows='10')
                                        input.send(type='submit', value='SEND MESSAGE')
            .swiper-pagination
        <script src="./js/jquery-3.4.1.min.js"></script>
        <script src="./js/script.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDXUTMWWK4qZwIsU3AudvJ9UC48L9IdA8&callback=initMap"></script>
        
