@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/* font-family: 'Lato', sans-serif; */

@font-face {
    font-family: 'Avenir LT Black';
    src: url(../fonts/AvenirLT-Black.eot);
    src: url(../fonts/AvenirLT-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/AvenirLT-Black.woff) format("woff"), url(../fonts/AvenirLT-Black.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
  
@font-face {
    font-family: 'Avenir LT Heavy';
    src: url(../fonts/AvenirLT-Heavy.eot);
    src: url(../fonts/AvenirLT-Heavy.eot?#iefix) format("embedded-opentype"), url(../fonts/AvenirLT-Heavy.woff) format("woff"), url(../fonts/AvenirLT-Heavy.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}


// FONTS
$font-primary:'Avenir LT Black';
$font-secondary: 'Avenir LT Heavy';
$font-text:'Lato', sans-serif;

// COLORS
$color-main: #ff4200;
$color-white: white;
$color-gray: #ccc;
$color-text: #333;
$color-darken-gray: #B9B9B9